@charset "UTF-8";

/* header */
/* logo */
body{
  font-family: "Noto Sans CJK KR DemiLight DemiLight";
    position:relative;
}

header{
  position: relative;
  width:100%;
  height:100%;
  /* background:red; */
  background: url(../img/bg/bg_smoke1.jpg) no-repeat fixed;
  background-size: cover;
}

h1.logo img{
  margin:auto;
  padding-top:10px;
  margin-bottom:20px;
  display: block;
  width:210px;
}
.smoke1{
  position: absolute;
  z-index: -1;
  top:0;
  left:0;
  width:500px;
}
.smoke1 span img{
  display: block;
  width:500px;
}

.all_goods img{
  margin: auto;
      display: block;
      width: 470px;
      margin-bottom: 90px;
}
/* brand */

.brnad>img{
  margin: auto;
      display: block;
      width: 600px;
      margin-top:100px;
}
.brnad hr{
  margin-top:70px;
  margin-bottom:70px;
  background: #666;
  height:5px;
  border:none;
  border-radius:50px;
  /* transform: rotate(40deg); */
}
.brnad_text p{
  display: block;
  margin-top:50px;
  margin-bottom:50px;
  padding-bottom:110px;
  text-align: center;
  font-size:19px;
  line-height: 30px;
  border-bottom: 1px solid #6666662e;
}

/* candle */
.candle h2{
  padding-bottom:60px;
  text-align: center;
  color:#666;
  font-size: 45px;
  font-weight: bold;
}
.candle>img{
      box-shadow: 0px -6px 125px -60px #666;
  margin:auto;
  display: block;
  width:1000px;
}
/* tea */
.tea h2{
  padding-top: 60px;
      padding-bottom: 60px;
      text-align: center;
      color: #666;
      font-size: 45px;
      font-weight: bold;
}
.tea>img{
      box-shadow: 0px -6px 125px -60px #666;
  margin:auto;
  display: block;
  width:1000px;
}

/* concept img */

.concept{
  margin:auto;
  width:100%;
  /* overflow: hidden; */
}
.concept ul {
  position: relative;

  width:100%;
  height:700px;
  display: block;

}
.concept ul li {
  position: absolute;
  width:100%;
  height:auto;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease, visibility 0s ease 1s;
}
.concept ul li:first-child{
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease;
}

.concept ul li img{
  margin:auto;
  display: block;
  width:1100px;

}

.concept ul li.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease;
}



.concept h2{
  padding-top:40px;
  padding-bottom:40px;
  text-align: center;
  color:#666;
  font-size: 45px;
  font-weight: bold;
}



/* top button */
.top{
position: fixed;
  bottom:25px;
  right:50px;
  width:50px;
  height:50px;
  cursor: pointer;
}

.top span{

  width:50px;
  height:50px;

  display: block;
  background: url(../img/ico/top.png) no-repeat;
  background-size: cover;
}

/* 반응형 */

@media screen and (max-width:640px) {

/* header */
header{
  width:100%;
}
.all_goods>img{
  width:400px;
}
h1.logo img{
  width:140px;
}

/* brand */
section.brnad{
  width:100%;
}
.brnad>img {
  width:360px;
}

.brnad hr{
  width:30px;
  height: 2px;
  margin-top: 50px;
margin-bottom: 50px;
}
.brnad_text p{
  font-size: 10px;
  line-height: 20px;
  padding-bottom: 67px;
}

/* candle */
section.candle{
  width:100%;
}

.candle h2{
padding-bottom: 40px;
  font-size: 35px;
}
.candle>img{
  width:400px;
}

/* tea */
section.tea{
  width:100%;
}

.tea h2{
  padding-top: 40px;
padding-bottom: 40px;
  font-size: 35px;
}
.tea>img{
  width:400px;
}


/* concept */
section.concept{
  width:100%;
}
.concept h2{
  padding-top: 40px;
padding-bottom: 40px;
  font-size: 35px;
}
.concept ul{
  height: 250px;
}
.concept ul li img{
  width:400px;
}

/* top 이동 */
.top{
  right:0;
}

}

}
